body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #93E1D8;
    color: #462255;
    border-bottom: 6px solid #462255;
    animation-name: example;
    animation-duration: 4s;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

@keyframes example {
  from {background-color: #93E1D8;}
  to {background-color: #462255;}
}

.border-blue {
    border: 1px dotted blue;
}

.fadein img{
opacity:0.5;
transition: 1s ease;
}
.fadein img:hover{
opacity:1;
transition: 1s ease;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

